/*=====================================================================
 
	CSS ASSETS
	----------

	Here are all imports of css libraries and helpers like
	Bootstrap, fontAwesome, Owl Carousel, .. etc.

 *=================================================================== */


// CSS Assets Imports
// ==================================

@import "_variables";
@import "bootstrap";
@import "owl.carousel";
@import "owl.theme.default";
@import "../fonts/fontawesome/css/all.css";
@import "https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css";
@import "../fonts/flaticon-leadmath/flaticon.css";
// @import "et-line";
// @import "../fonts/Stroke-Gap-Icons-Webfont/style.css";
@import "magnific-popup";
@import "hamburgers/hamburgers";
@import "bg-patterns";

// ==================================
