/* =====================================================================
 *   Addtional Updates or Changes
 * =================================================================== */

// Remove Yandex translate link
.yt-servicelink {
    display: none !important;
}

// Styling for highlights box
.highlights-box {
    box-shadow: 0 0 45px 0 rgba(34, 34, 34, 0.05);
    border-radius: 4px;
    background: white;
}