/* =====================================================================
 *   Addtional Updates or Changes
 * =================================================================== */

// Remove Yandex translate link
.yt-servicelink {
    display: none !important;
}

// Styling for highlights box
.highlights-box {
    max-width: 80rem;
    margin: auto;
    margin-top: -4rem;
    padding: 6rem 4rem;
    position: relative;
    box-shadow: 0 24px 32px 4px rgba(27, 27, 27, 0.24);
    border-radius: 4px;
    background: white;
}

#event-countdown-timer {
    font-size: 2rem;
    color: #9849F9;
}