// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #5753e4;

$link-color: 					#5753e4;

$link-focus-color: 				#5753e4;

