
//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #44bfff;

$link-color: 					#44bfff;

$link-focus-color: 				#44bfff;

